<div class="style">

  <div class="main-div">

      <div class="login-wrapper">
<mat-card class="box">
  <img src="/assets/images/logo2.png" fxLayoutAlign="center center" class="img">
  <br>
  <mat-divider></mat-divider>
  <mat-card-header>
      <mat-card-title>
          <mat-icon>account_balance</mat-icon><br>College Login
      </mat-card-title>
  </mat-card-header><mat-divider></mat-divider>
      <br>
  <mat-card-content layout="row flex">
      <form class="example-form">
      <mat-form-field field class="example-full-width" color="accent" appearance="outline" ><mat-label>User ID</mat-label>
          <input matInput placeholder="Email"  required>
        </mat-form-field>
      <br>
        <mat-form-field field class="example-full-width" color="accent" appearance="outline"><mat-label>Password</mat-label>
            <input matInput placeholder="Mobile" type="tel" required minlength="10" maxlength="10">
          </mat-form-field><br>

          <button mat-raised-button class="btn-block" color="accent">LOG IN</button>
      </form>
  </mat-card-content>

</mat-card>
</div>
</div>
</div>



